{% extends "base.html" %}

{% block title %}
{{object.street}}/{{object.num_house}}/{{object.num_room}}
{% endblock %}

{% block main %}

<h3 class="m-3"> ул.{{object.street}}, д.{{object.num_house}}, кв.{{object.num_room}}</h3>

<ul>
    {% for meter in address.meter_set.all %}
    <li>
        <a href="{% url 'meters:meter_detail' pk=meter.pk %}">
            {{meter}}
        </a>
    </li>

    {% endfor %}
</ul>

<div class="d-grid d-md-block m-3">
    <a class="btn btn-primary"
       href="{% url 'addresses:address_list' %}">
        Назад
    </a>
    <a class="btn btn-primary"
       href="{% url 'addresses:address_update' pk=object.pk%}">
        Изменить данные адреса
    </a>
    <a class="btn btn-primary"
       href="{% url 'addresses:address_delete' pk=object.pk %}">
        Удалить адрес
    </a>
</div>

{% endblock %}