{% extends "base.html" %}

{% block title %}
{{object.username}}
{% endblock %}

{% block main %}

<h3 class="m-3">Удалить?</h3>

<h3>{{object.username}}</h3>
<h3>{{object.first_name}} {{object.last_name}}</h3>
<h3>{{object.email}}</h3>
<h3>{{object.address}}</h3>

<form method="post">
    {% csrf_token %}
    <div class="d-grid d-md-block">
        <button class="btn btn-primary" type="submit">Да</button>
        <a class="btn btn-primary" href="{% url 'users:list' %}">Нет</a>
    </div>
</form>

{% endblock %}